.form-control{
    margin-right : 100px;
}

.box{
    margin-top : 120px;
	margin-left : 10px;

    
    float : right;
    /* background-color: aqua; */

	padding-top : 50px; 

	padding-bottom : 30px;
    padding-right : 80px;
    padding-left : 80px;
}

.mycol{
    float : left;
    margin-left : 220px;
}

.btn{
    background : rgb(160, 255, 7);
    color : black;
    height : 50px;
    width : 200px;
}


h3{
    float : left;
    margin-left : 50px;
    color : rgb(255, 255, 255);
}

h1{
    float : center;
    margin-left : 70px;
    color : rgb(247, 247, 247);
}

.logo{
    margin-top : 50px;
    padding-top : 50px;
    padding-left : 100px;
}

body{
    background-color: blue;
}

